html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-self: center;
}
.grid {
    background-color: lightgray;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}